*{ 
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.section1{
    background-color: rgb(38, 25, 216);
    height: 30vh;
}

.section2{
    background-color: rgb(25, 156, 216);
    height: 30vh;
}

.section3{
    background-color: rgba(47, 216, 25, 0.712);
    height: 30vh;
}